/* SCSS HEX */
$verdigris: #1badb2ff;
$black-coffee: #433a3fff;
$deep-space-sparkle: #3d5a6cff;
$light-green: #8de969ff;
$pear: #cbef43ff;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1badb2ff, #433a3fff, #3d5a6cff, #8de969ff, #cbef43ff);
$gradient-right: linear-gradient(90deg, #1badb2ff, #433a3fff, #3d5a6cff, #8de969ff, #cbef43ff);
$gradient-bottom: linear-gradient(180deg, #1badb2ff, #433a3fff, #3d5a6cff, #8de969ff, #cbef43ff);
$gradient-left: linear-gradient(270deg, #1badb2ff, #433a3fff, #3d5a6cff, #8de969ff, #cbef43ff);
$gradient-top-right: linear-gradient(45deg, #1badb2ff, #433a3fff, #3d5a6cff, #8de969ff, #cbef43ff);
$gradient-bottom-right: linear-gradient(135deg, #1badb2ff, #433a3fff, #3d5a6cff, #8de969ff, #cbef43ff);
$gradient-top-left: linear-gradient(225deg, #1badb2ff, #433a3fff, #3d5a6cff, #8de969ff, #cbef43ff);
$gradient-bottom-left: linear-gradient(315deg, #1badb2ff, #433a3fff, #3d5a6cff, #8de969ff, #cbef43ff);
$gradient-radial: radial-gradient(#1badb2ff, #433a3fff, #3d5a6cff, #8de969ff, #cbef43ff);